@model Liaison.Web.AspTS.Models.Ship

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Ship</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HCS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HCS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pennant)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pennant)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PennantCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PennantCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PennantNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PennantNumber)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsBase)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsBase)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AltName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AltName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AltHcs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AltHcs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AltHcsnumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AltHcsnumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsInactive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsInactive)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CommissioningDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CommissioningDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DecommissioningDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DecommissioningDate)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShipClassId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShipClassId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NewShip)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NewShip.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShipPrefix)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShipPrefix.ShipPrefix1)
        </dd>*@
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Unit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Unit.RankSymbol)
        </dd>*@
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.UnitId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
