@model IEnumerable<Liaison.Web.AspTS.Models.ShipClass>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ShipClassId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClassName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HCS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShipCount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ShipClassId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClassName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HCS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShipCount)
            </td>
            <td>
                <a asp-action="Mod" asp-route-id="@item.ShipClassId">Mod</a> |
                <a asp-action="Edit" asp-route-id="@item.ShipClassId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ShipClassId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ShipClassId">Delete</a>
            </td>
        </tr>
       }
    </tbody>
</table>
